# ArgoCD Helm Chart Values
global:
  image:
    tag: "latest"

server:
  extraArgs:
  - --insecure
  - --rootpath=/argocd
  - --basehref=/argocd
% { if argocd_applications }
configs:
  repositories:
    %{ for idx, app in argocd_applications }
    %{ if contains(keys(app), "private") && app.private }
    github-repo-${idx}:
      type: git
      url: ${app.repo_url}
      githubAppID: "${github_app_id}"
      githubAppInstallationID: "${github_app_installation_id}"
      githubAppPrivateKey: |
        ${indent(8, github_app_private_key)}
    %{ endif }
    %{ endfor }
%{ endif }
