apiVersion: v1
kind: ConfigMap
metadata:
  name: oidc-envs
  namespace: default
data:
  AWS_ROLE_ARN: ${aws_role_arn}
  AWS_WEB_IDENTITY_TOKEN_FILE: "${aws_web_identity_token_file}"
  AWS_REGION: "${aws_region}"
